* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(211,211,211,1) 35%, rgba(255,255,255,1) 100%);
    min-height: 100vh;
}

.container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color:#36454F;
    padding: 10px;
    border-radius: 2%;
}

.result {
    font-family: "Radio Canada Big", sans-serif;
    background-color: white;
    margin-bottom: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    width: 470px;
    padding-left: 5px;
    font-size: 80px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 30px 45px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10%;
    width: 110px;
}

button.num {
    background-color: gold;
}